@import '../../app/imports.module';

div.modaloverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5000;

    div.modalwrapper {
        // ?Does commenting this out break sth?
        // width: 56vw;
        height: fit-content;
        div.modal {
            height: 100%;
            width: 100%;
            border-radius: 15px;
        }
    }
}
